body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

.movie-section {
  border: 2px solid #333;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie-section:hover {
  transform: scale(1.1);
}
